* {
  box-sizing: border-box;
}

html {
  background-color: #16181d;
  font-family: Helvetica, Arial, sans-serif;
  color: #dadce0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  background-color: #0a0a0a;
  height: 48px;
  padding: 12px;
  position: sticky;
  top: 0;
}

a {
  color: #dadce0;
}

p {
  max-width: 800px;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 0.2rem solid #585858;
  padding: 1rem;
  gap: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0 0;
}

p {
  margin: 0;
}

.header-title {
  display: none;
  margin: 1rem;
}

@media screen and (min-width: 700px) {
  .header-title {
    display: block;
  }
}

.crew-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

@media screen and (min-width: 1346px) {
  .crew-container {
    justify-content: center;
  }
}

.crew-card {
  max-width: 250px;
  flex: 0 0 auto;
  background-color: #0a0a0a;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.crew-card > *:not(:first-child):not(:last-child) {
  padding-bottom: 0.2rem;
  border-bottom: 1px solid #585858;
}

.crew-card img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.crew-card h2,
h3 {
  margin: 0;
}

#event-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-card img {
  max-width: 90%;
  height: auto;
  border-radius: 0.5rem;
}

.event-card {
  width: 95%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  flex-wrap: wrap;
}

.event-card ul {
  width: 100%;
  font-size: 8vw;
}

@media screen and (min-width: 701px) {
  .event-card {
    font-size: 3vw;
    flex-direction: row;
    justify-content: space-around;
  }

  .event-card ul {
    width: 45%;
    font-size: 3vw;
  }
  .event-card img {
    max-width: 45%;
    height: auto;
    border-radius: 0.5rem;
  }
}

.event-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.event-buttons > button {
  background-color: #282c34;
  color: #dadce0;
  border: none;
  padding: 1.5rem 2.5rem;
  margin: 0 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  max-width: 45%;
}